<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/profile_full.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='profile_full.css') }}">
    <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
</head>
<body>
    <div id="main">
        <div id="profile-container">
            <div id="avatar-container">
                <img src="./avatar" alt="" id="avatar">
                <h1> {{ full_name }} </h1>
                <label>{{ interest }}</label>
                <div id="btn-item">
                    <button class="btn-item"><a href="/create-exercise">Tạo bài tập</a></button>
                    <button class="btn-item" onclick="logout()"> <a>đăng xuất</a></button>
                    <button class="btn-item" > <a href="/edit_profile">chỉnh sửa thông tin</a> </button>
                    <button class="btn-item" > <a href="/"> quay về trang chủ</a></button>
                </div>
            </div>
            <div id="info-profile">
                <div>
                    <h2>Thông tin cá nhân </h2>
                </div>
                <div>
                    <h3>Email: {{ email }} </h3>
                    <h3>Địa chỉ: {{address}} </h3>
                    <h3>Ngày sinh : {{ date }}</h3>
                    <h2>
                        Mục tiêu
                    </h2>
                </div>
                <h3>{{ target }}</h3>
            </div>
            <div id="post-container">
                <div id="nav-tab">
                    <div class="nav-tab-item active" onclick="switchTab('normal-post' , this )">✏️ bài viết </div>
                    <div class="nav-tab-item" onclick="switchTab('exercise' , this )" >📗 bài tập</div>
                    <div class="nav-tab-item" onclick="switchTab('contest' , this )">🔥 cuộc thi</div>
                </div>
                <div id="post-content">
                     <div class="post-content-item active" id="normal-post">
                         <div id="post-space">
                            <h2>Tạo bài viết</h2>
                            <textarea name="content" id="write-content" placeholder="Viết gì đó....."></textarea>
                            <button class="submit" onclick="send(this)">đăng</button>
                        </div>
                    </div>
                    <div class="post-content-item" id="exercise">
                        <div class="watch-space">
                            <h2>Lịch sử nộp bài
                                <select name="" id="search-exercise-with-topic">
                                    <option value="all">tất cả</option>
                                    <option value="mang1chieu">Mảng 1 chiều</option>
                                    <option value="xaukytu">Xâu ký tự</option>
                                    <option value="sohoc">Số học</option>
                                    <option value="dequy">Đệ quy - Quay lui</option>
                                    <option value="thamlam">Tham lam</option>
                                    <option value="nhiphan">Tìm kiếm nhị phân</option>
                                    <option value="demphanphoi">Đếm phân phối</option>
                                    <option value="mang2chieu">Mảng 2 chiều</option>
                                    <option value="qhd">Quy hoạch động</option>
                                    <option value="dothi">Đồ thị</option>
                                    <option value="cay">Cây</option>
                                    <option value="dsu">DSU, Fenwick Tree</option>
                                    <option value="kythuatdacbiet">Kỹ thuật đặc biệt</option>
                                    <option value="luyentap">Luyện tập</option>
                                </select>
                            </h2>
                            <table border="1px">
                                <thead>
                                    <tr>
                                        <th>tên bài</th>
                                        <th>trạng thái</th>
                                        <th>hành động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ list_problem_submit | safe }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="post-content-item" id="contest">
                        <h2>
                            Vì Vũ không đc thông minh lắm<br>nên mong mọi người thông cảm<br>ấn nút ở bên dưới để đến chỗ <br> Tạo cuộc thi
                        </h2>
                        <button class="btn-item"><a href="/create-contest">Tạo cuộc thi</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
function switchTab(id, e) {
    document.querySelectorAll('.nav-tab-item').forEach(element => {
        element.classList.remove("active");
    });
    document.querySelectorAll('.post-content-item').forEach(element => {
        element.classList.remove("active");
    });
    document.getElementById(id).classList.add("active");
    e.classList.add("active");
}


function send( btn ) 
{
    const content_post = document.getElementById("write-content").value ;
    const today = new Date();
    const day = String(today.getDate()).padStart(2, '0');        // Ngày
    const month = String(today.getMonth() + 1).padStart(2, '0'); // Tháng (getMonth() bắt đầu từ 0)
    const year = today.getFullYear();                            // Năm

    const ngayThangNam = `${year}-${month}-${day}`;
    btn.disabled = true;

    fetch('/api/post', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({"content" : content_post , "time_post" : ngayThangNam })
    })
    .then(res => res.json())
    .then(data => {
        alert('✅ Gửi thành công: ' + data.message);
        window.location.href = '/';
    })
    .catch(err => {
        console.error('❌ Lỗi khi gửi dữ liệu:', err);
        alert('❌ Gửi thất bại!');
    });
}
</script>
<script>
    document.getElementById("search-exercise-with-topic").addEventListener("change", function() {
        const selectedTopic = this.value;
        if (selectedTopic === "all") {
            document.querySelectorAll(".topic").forEach(element => {
                element.style.display = "table-row"; // Hiển thị tất cả các phần tử có class topic
            });
            return;
        }
        document.querySelectorAll(".topic").forEach(element => {
            element.style.display = "none"; // Ẩn tất cả các phần tử có class topic
        });
        document.querySelectorAll(`.${selectedTopic}`).forEach(element => {
            element.style.display = "table-row"; // Hiển thị các phần tử có class topic tương ứng
        });
    });
</script>
<script>
function logout() {
    Swal.fire({
        title: 'Bạn có chắc chắn muốn đăng xuất?',
        text: "Bạn sẽ phải đăng nhập lại để tiếp tục.",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Đăng xuất',
        cancelButtonText: 'Hủy',
        backdrop: false
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = '/logout';
        }
    });
}
</script>
</html>